@import '../../scss/style.scss';

.team {
  padding   : 50px 0;
  text-align: center;
  margin    : 0 auto;

  h1 {
    @include flex(center, center);
    margin-bottom: 25px;

    &::before,
    &::after {
      content      : "";
      margin-right : 20px;
      width        : 165px;
      border-bottom: 1px solid $primary-color;
    }

    &::after {
      margin-left: 20px;
    }
  }

  p {
    margin-bottom: 35px;
    font-size    : 24px;
  }

  ul {
    @include flex(space-around, baseline);
    margin-bottom: 20px;
  }

  .item {
    width: 300px;
    padding: 15px;

    img {
      max-width    : 260px;
      min-height   : auto;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
      font-size    : 16px;
    }
  }
}