@import '../../scss/style.scss';

.search {
	width: 37%;
	display: flex;
	align-items: center;
	border-radius: 30px;
	background-color: #000;
	border: 1px solid rgba($gray, 0.4);
	padding: 1rem 1.5rem;

	form {		
		display: inline-flex;
		flex: 1 1 auto;
	}

	input {
		background-color: transparent;
		outline: none;
		color: #fff;
		margin-left: 1.5rem;
		border: none;
		
		&::placeholder {
			color: $gray;
		}
	}

	i {
		color: $gray;
		font-size: 20px;
	}
}
