@import '../../../../scss/style.scss';

.MuiPagination-ul.css-wjh20t-MuiPagination-ul a {
  color: $white-color;
}

.films {
  width: 75%;
  @include flex(space-between, flex-top);

  .film {
    width: 300px;
    min-height: 570px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
  }

  .poster {
    position: relative;
    margin-bottom: 15px;

    img {
      width: 100%;
      border-radius: 18px;
    }

    .rating {
      width: 70px;
      position: absolute;
      top: 30px;
      left: 20px;
      padding: 3px;
      background-color: $tabs-color;
      color: $primary-color;
      font-size: 16px;
      border-radius: 15px;
    }

    .year {
      width: 80px;
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 3px;
      background-color: $tabs-color;
      color: $primary-color;
      font-size: 18px;
      border-radius: 15px;
    }
  }

  .text {

    .title {
      min-height: 70px;
      font-family: $ff-kurale;
      font-size: 28px;
      margin-bottom: 15px;
    }
      
    .genres {
      @include flex(center, center);
      
      .genre {
        font-weight: bold;
        font-size: 14px;
        color: $primary-color;
        margin: 0 10px 10px;
      }
    }

    .summary {
      font-size: 14px;
      text-align: left;
    }
  }
}

