@import '../../scss/style.scss';

.header {
	padding: 15px 10px;

	.top {
		@include flex(space-between, center);
		margin-bottom : 20px;
		text-transform: uppercase;
		position: relative;
	}

	.logo {
		width      : 200px;
		height     : 50px;
		display    : inline-flex;
		align-items: center;
		font-weight: bold;
		font-size  : 28px;

		img {
			margin-right: 7px;
		}

		span {
			color: $primary-color;
		}
	}

	.bottom {
		height          : 75px;
		display         : flex;
		justify-content : space-between;
		align-items     : center;
		background-color: $bg-header;
		border-radius   : 50px;
		padding-right   : 100px;
	}

	.bottomGenres {
		position  : relative;
		left: 30px;
		width : 65%;
		height: 72px;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height    : 7px;
      background: $white-color;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary-color;
    }

		.nav-item {
			position: absolute;
		}
	}
}