@import '../../scss/style.scss';

.header {
	padding: 20px 40px;
	margin-bottom: 50px;

	.top {
		@include flex(space-between, center);
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.logo {
		width: 200px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		font-weight: bold;
		font-size: 28px;

		img {
			margin-right: 7px;
		}

		span {
			color: $primary-color;
		}		
	}

	.bottom {
		height: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-header;
		border-radius: 50px;
		padding-right: 100px;
	}
}
