@import '../../scss/style.scss';

.nav {

  .navList {
    height  : 60px;
    position: relative;
    @include flex(space-between, center);
    flex-wrap: nowrap;
  }

  .nav-item {
    min-width    : 150px;
    font-size    : 18px;
    color        : $gray;
    border-bottom: 3px solid transparent;
    border-top   : 3px solid transparent;
    @include flex(center, center);
    transition: 0.3s;

    a {
      padding: 10px 0;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    &:hover {
      color: $primary-color;
    }
  }

  .active {
    color        : $primary-color;
    border-bottom: 3px solid $bg-header;
    border-top   : 3px solid $bg-header;
  }
}