@import '../../scss/style.scss';

.footer {
  color: $white-opacity;
  padding-top: 50px;
  padding-bottom: 50px;
  @include flex(space-between, center);
}

.container {
  @include flex(space-between, center);
}

.social {
  width: 30%;
  @include flex(space-between, center);

  > li {
    width: 35px;
    height: 35px;
    margin: 0 10px 8px;
    border: 2px solid transparent;
    box-shadow: 0 0 20px $black-opacity, inset 0 0 1px $black-color;
    position: relative;

    a {
      transition: 0.3s;
    }

    &::before {
      animation-delay: -4s !important;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 0 2px $primary-color;
      margin: -7%;
      animation: round 10s linear infinite;
    }

    &:hover a {
      border: 2px dotted transparent;
    }
  }
}

.copyright {
  width: 60%;
  color: $gray-color;
  @include flex(center, center);
  line-height: 1.7;

  i {
    padding: 0 5px;
    font-size: inherit;
  }

  address {
    display: inline-block;
    margin-left: 7px;

    a {
      font-weight: 700;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}

.animation {
  &__circle:hover .animation__text {
    animation-play-state: paused;
    fill: $white-color;
    text-shadow: 3px 3px 8px $black-opacity;
  }

  &__circle:hover .animation__arrow {
    transform: scale(0.5);
  }

  &__arrow {
    transform-box: fill-box;
    transform-origin: center center;
  }

  &__text {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 3px;
    animation: motion normal infinite 20s linear;
    transform-origin: 50% 50%;
  }
}

@keyframes round {
  0%,
  100% {
    clip: rect(0px, 40px, 4px, 0px);
  }
  25% {
    clip: rect(0px, 4px, 40px, 0px);
  }

  50% {
    clip: rect(40px, 40px, 40px, 0px);
  }

  75% {
    clip: rect(0px, 40px, 40px, 40px);
  }
}

@keyframes motion {
  to {
    transform: rotate(-360deg);
  }
}