@import '../../scss/variables';

.error-page {
  position : relative;
  padding  : 50px;
  font-size: 28px;
  color    : $white-color;
  text-align: center;

  &__text {
    padding: 20px 0;
  }

  &__link {
    padding-top: 30px;
    color      : $white-color;

    &:hover {
      text-decoration: underline;
    }
  }
}